{% extends 'app/base.html' %}

{% block main %}
    
<h1 class="header">Home page!</h1>
  <div class="search">  

<form action="" method="get">

<input class="coin-input" type="text" name="coin_name">
<input type="submit" value="add">

</form>
</div>


<div class="container">
{% for i in content %}  
   {% if i.name ==  coin  %}
<div class="coin_row">
    <div class="image">
        <img style="width:50px;" src="{{i.image}}" alt="">
        <h3>{{i.name}}</h3>
    </div>
    <div class="coin_data">
        <h3>{{i.market_cap}}</h3>
        <h3>{{i.price_change_24h}}</h3>
    </div>
</div>

    {% endif %}
{% endfor %}
</div>
{% endblock main %}   

